@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.título {
  color: rgba(0, 0, 68, 0.937);
  font-family: "Press Start 2P";
  font-size: 80px;
  text-shadow: 2px 2px #ff0000;
}
.instrucciones {
  font-size: 20px;
  box-shadow: 10px 10 px #ff0000;
  border-style: double;
  border-width: 10px;
  padding-bottom: 15px;
  padding-right: 15px;
  border-radius: 20px;
  /* margin-top: -200px; */
  /* transition: 2s; */
  transition-duration: 3s;
  background-color: rgba(250, 250, 250, 0.397);
}
.instrucciones:hover {
  font-size: 25px;
  background-color: rgba(0, 255, 255, 0.361);
  border-style: double;
  border-width: 20px;
  padding: 40px 70px 50px 100px;
  border-radius: 200px;
  /* margin-top: -200px; */
  transition: 2s;
}
.divStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start-btn {
  font-family: "Press Start 2P";
  background: none;
  /* background-color: #8dedd8; */
  background-size: cover;
  color: black;
  padding: 30px;
  padding-right: 20px;
  font-size: 40px;
  margin-top: 10px;
  border-radius: 1000px;
  border-color: rgb(0, 3, 87);
  border-width: 0px;
  transition-duration: 1s;

  text-shadow: 2px 2px #000dff;
}
.start-btn:hover {
  font-family: "Press Start 2P";
  background: none;
  background-color: #8dedd8;
  background-size: cover;
  color: black;
  padding: 30px;
  padding-right: 20px;
  font-size: 40px;
  margin-top: 40px;
  border-radius: 1000px;
  border-color: #8dedd8;
  border-width: 10px;
}

body {
  background-color: rgb(1, 10, 11);
  margin: 0;
}
#homePage {
  display: flex;
  justify-content: center;
  background-image: url(./resources/img/outerspace-6.gif);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(13, 3, 56);
}

#gameSection {
  display: none;
  background-color: black;
  /* background-image: url("./resources/img/space\ green.jpg");
  background-repeat: no-repeat;
  background-size:cover; */

  color: red;
  position: relative;
  flex-direction: column;
}

.play {
  font-family: "Press Start 2P";
  padding: 5px 10px;
  display: none;
  border-radius: 150px;
  background-color: rgb(222, 139, 139);
}

.pause {
  font-family: "Press Start 2P";
  padding: 5px 10px;
  border-radius: 150px;
  background-color: rgb(81, 234, 70);
}

#space {
  height: 1900px;
  background-image: url("./resources/img/space\ green.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.audioDeFondo {
}

#gameOverSection {
  background-image: url(./resources/img/espacioConPlanetas.jpg);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
}

#gameOverSection h1 {
  padding: 50px;
  border-style: solid;
  border-radius: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 200px;
  background-color: rgba(74, 13, 8, 0.254);
  color: rgb(241, 0, 0);

  text-shadow: 5px 5px black;
}

#retry {
  color: rgba(0, 0, 0);
  border-top-width: 20px;
  border-width: 3px;
  text-shadow: none;
}

.divControls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sizeL {
  height: 1080px;
}

.PlanetImgPlayer {
  color: black;
  font-size: 25px;
  text-align: center;
  margin: 25px; /* espacio que va a dejar la nave */
  border-radius: 1000px;
  position: absolute;
  background-color: red;
  background-image: url(./resources/img/planetaTTierra.jpg);
  border-color: rgb(35, 238, 133);
  border-width: 5px;
  border-style: solid;
  background-size: cover;
}

.audio {
  display: none;
}

.ShipImg {
  position: absolute;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 5px;
  border-radius: 1000px;
}

.ShipImgPlayer {
  font-size: 25px;
  text-align: end;
  color: blue;
  position: absolute;
  background-image: url(./resources/img/navePro.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.enemyShip {
  font-size: 25px;
  text-align: end;
  color: red;
  position: absolute;
  background-image: url(./resources/img/ovni.png);
  background-size: contain;
  background-repeat: no-repeat;
}
