#start-btn {
  background-color: green;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px; 
  
}

body {
  margin: 0;
}
#homePage {

  display: flex;
  justify-content: center;
  background-image: url(./resources/img/outerspace-6.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(13, 3, 56);
}
#gameSection {
  display: none;
  background-color: black;
  color: red;
  position: relative;
  flex-direction: column;
}
#space {
  /* width: 1980px; */
  height: 1900px;
  background-image: url("./resources/img/space\ green.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.audioDeFondo{
  
}

#gameOverSection {
  display: none;
  background-color: blueviolet;
  color: red;
}
#mainPage {
}
.divStart{
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
  
}
.flexed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.sizeL {
  /* width: 1800px; */
  height: 1080px;
}

.PlanetImgPlayer{
  color: black;
  font-size: 25px;
  text-align: center;
  margin: 25px; /* espacio que va a dejar la nave */
  border-radius: 1000px;
  position: absolute;
  background-color: red;
  /* border-image: round; */
  background-image: url(./resources/img/planetaTTierra.jpg);
  border-color: rgb(35, 238, 133);
  border-width: 5px;
  border-style: solid;
  background-size:cover;

}

#audio{
  display: none;
  }


.ShipImg{
  position: absolute;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 5px;
}
.ShipImgPlayer{
  font-size: 25px;
  text-align: end;
  color: blue;
  position: absolute;
  background-image: url(./resources/img/navePro.png);
  background-size: contain;
  background-repeat: no-repeat;

}

.enemyShip{
  font-size: 25px;
  text-align: end ;
  color: red;
  position: absolute;
  background-image: url(./resources/img/ovni.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* box-shadow: inset 0 0 0 500px rgba(184, 19, 19, 0.3); */

}


#PlanetaDePrueba {
  display: none;


    background-image: url(./resources/img/planetaHielo1.jpg);
    background-position: center;
    background-size: cover;
    height: 50px;
    width: 50px;
    
    position: absolute;
    top: 30%;
    left: 90%;

}
